{{define "content"}}
    <h1>{{.PageTitle}}</h1>
    <ul hx-trigger="load, revalidateTodos from:body" hx-get="/todos">
    </ul>
    <form hx-put="/api/todos" hx-swap="none" hx-on::after-request="this.reset()">
        <label>
            New item
            <input name="title" type="text"/>
        </label>
        <button type="submit">
            Add
        </button>
    </form>
{{end}}
