{{define "content"}}
    <h1>{{.Note.Title}}</h1>
    <p style="white-space: pre">{{.Note.Description}}</p>
    <time>Created: {{.Note.Created}}</time>
    <br/>
    <time>Updated: {{.Note.Updated}}</time>
    <br/>
    <a href="/notes">Back to the list of notes</a>
    <br/>
    <button hx-delete="/api/notes/{{.Note.Id}}" >delete note</button>
{{end}}
