<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="48x48">
    <link rel="icon" href="/public/favicon.svg" sizes="any" type="image/svg+xml">
    <script src="/public/htmx.min.js" defer></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/todos">Todos</a></li>
        <li><a href="/notes">Notes</a></li>
    </ul>
</nav>
<main>
    {{template "content".}}
</main>
</body>
</html>

