<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.png">
    <script src="/public/htmx.min.js"></script>
</head>
<body>
<h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
    <li>
        <label>
            {{if .Done}}
            <input type="checkbox" checked="checked" hx-post="/api/todo?id={{.Id}}" />
            {{else}}
            <input type="checkbox" hx-post="/api/todo?id={{.Id}}" />
            {{end}}
            <span>{{.Title}}</span>
        </label>
    </li>
    {{end}}
</ul>
</body>
</html>

