{{range .Todos}}
    <li hx-delete="/api/todos/{{.Id}}" hx-trigger="click from:#delete-{{.Id}}">
        <label>
            {{if .Done}}
                <input type="checkbox" checked hx-post="/api/todos/{{.Id}}" name="done"/>
            {{else}}
                <input type="checkbox" hx-post="/api/todos/{{.Id}}" name="done"/>
            {{end}}
            <span>{{.Title}}</span>
        </label>
        <button id="delete-{{.Id}}">delete</button>
    </li>
{{end}}
